.auth-page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-card{
    width: 300px;
    padding: 20px;
    box-shadow: var(--shadow-md);
    border-radius: 10px;
    background-color: var(--card);
}
.auth-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
.auth-header{
    font-family: interBold;
    font-size: 20px;
    margin: 10px 0px;
    color: var(--btn-primary);
}
.auth-form-input{
    width: 100%;
    padding: 10px 10px 10px 5px;
    outline: none;
    background-color: transparent;
    border: 0;
    color: var(--text-input);
    font-size: 1.1rem;
    font-family: interRegular;
}
.auth-form-input::placeholder{
    color: var(--text-input);
    font-family: interRegular;
}
.auth-button{
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 0;
    font-family: interBold;
    cursor: pointer;
    transition: transform .2s ease-in;
    background-color: var(--btn-secondary);
    color: var(--card);
}
.auth-toggle-section{
    width: 80%;
    font-size: 12px;
    text-align: center;
    font-family: interMedium;
    color: var(--btn-secondary);
}
.toggler{
    color: var(--btn-primary);
    font-family: interBold;
    cursor: pointer;
}
.avatar-section{
    width: 80%;
    display: flex;
    gap: 10px;
}


.error-message{
    color: var(--favorite);
    font-family: interBold;
    font-size: 12px;
    width: 80%;
    margin-bottom: -5px;
}
input[type=file]{
    width: 80%;
    padding: 15px;
    border: 1px solid var(--secondary-bg);
    border-radius: 10px;
}
.input-wrapper.form-error input::placeholder{
    color: var(--favorite);
}
.input-wrapper.form-error input{
    color: var(--favorite);
}
.input-wrapper{
    width: 80%;
    border-radius: 5px;
    border: 1px solid var(--secondary-bg);
    background-color: var(--primary-bg);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 5px;
    position: relative;
}
.input-wrapper.form-error {
    border-color: var(--favorite);
    background-color: rgba(255, 0, 0, .05);
}

.show-pass{
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    
}
.off{
    display: none !important;
}
.on{
    display: block !important;
}